.dark-scheme {
    background: dimgrey;
}

.dark-text {
    color: white;
}

.red-scheme {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.green-scheme {
    background: lightgreen;
}

.green-text {
    color: darkslateblue;
}

.blue-scheme {
    background: blue;
}

.blue-text {
    color: white;
}

.orange-scheme {
    background: orange;
}

.orange-text {
    color: darkmagenta;
}

.turquoise-scheme {
    background: turquoise;
}

.turquoise-text {
    color: cornflowerblue;
}

.dropDownList {
    margin: 30px 0 70px 100px;
}
