.dark {
    background: dimgrey;
}

.dark-text {
    color: blue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.dropDownList {
    margin: 30px 0 70px 100px;
}